/*! responsive-nav.js 1.0.32 by @viljamis */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
  clear:both;

}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute; 
  display: block;
  overflow: hidden;
  zoom: 1;
  clear:both; 
}

.nav-collapse.opened {
  max-height: 9999px;
    clear:both; 
	 
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  
}
.nav-toggle{ padding:5px; color:#fff; background: url(../images/menu.png) no-repeat ; width:35px; height:23px; margin:26px 0 0px 10px; float:right; font-size:14px;  }
.active{ padding:5px; color:#fff; background: url(../images/menu-close.png) no-repeat !important; width:35px; height:23px; margin:26px 0 0px 10px; float:right; font-size:14px;  }


@media screen and (min-width: 801px) {

.nav-collapse.opened{position: relative; z-index:600000 !important;  }
	
  .js .nav-collapse {
    position: relative;  
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
  
 
}
