@media (max-width: 1550px) {
 
}

@media (max-width: 980px) { 
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: none;
	margin: 0 0 15px 0;
}

.col-md-3{width:100%;}
.col-md-4{width:100%;}
.col-md-6{width:100%; }
.col-md-12{width:100%; }

  
}

@media (max-width: 800px) {
	
#header{width:100%; margin:0; padding:0; position: static; top:0;  border-bottom:0px solid #e1e3e6}
#container{ padding-top:0px;}

#side-menu{  padding-top:0px;}
.main-inner{ padding:0 0px}
ul.menuStyle{ padding: 40px 0 0px 0 !important; clear:both !important; }
ul.menuStyle li{ padding: 2px 0; clear:both !important; text-align:center }
ul.menuStyle a {
	padding: 0;
	display: block; margin:0;
	color: #a9a9aa;
	font-size: 15px; 
	text-align:center;
}
.title-top{ margin-bottom:15px; padding:0 0px;}
.breadcrumb-box{ margin:0; padding:0 0px;}
}

@media only all and (max-width: 768px) {
	
	.nav-collapse li:last-child a {
    width: 40% !important;
	}

@media only all and (max-width: 750px) {

}

@media only all and (max-width: 640px)
{
/* HEADER RIGHT  */
.search-box{ width:180px;  padding:12px 5px; float:left; height:23px;}
.search-box .inputsearch{ background: none;  border:0; font-size:14px; line-height:30px; width:127px;}
.search-box .searchbtn{ width:30px; height:25px; background: url(../images/search-btn.html) no-repeat; cursor: pointer; border:0; margin:0 0 0 10px;}
.admin-box{width:50px;  padding:4px 0; float:left}
.admin-box img{ width:100%}
.logout-box{width:50px;  padding:4px 0; float:left}
.logout-box img{ width:100%}
.rowSpecification{ display: inherit;}
.columnSpecification-1, .columnSpecification-2{ width: 100%;}
}


@media only all and (max-width: 480px) 
{
	#login-page{ width:96%;}
	
	}
	
@media only all and (max-width: 360px){
	/*COL BOX */
.col-sm-1{width: 98%;}
.col-sm-2{width: 98%;}
.col-sm-3{width: 98%;}
.col-sm-4{width: 98%;}
.col-sm-5{width: 98%;}
.col-sm-6{ width: 98%;}
.col-sm-7{ width: 98%;}
.col-sm-8{ width: 98%;}
.col-sm-9{ width: 98%;}
.col-sm-10{ width: 98%;}
.col-sm-11{ width: 98%;}
.col-sm-12{ width: 98%;}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: none;
}
	.control-label {
    text-align: left;
}
.control-label, .radio, .checkbox, .radio-inline, .checkbox-inline {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 3px;
	padding-top:0;
}
}

@media only all and (max-width: 320px)
 { 
 
 
 }
